#stock-graph-wrapper {
    background-color: white;
    color: #333;
}

#stock-graph-wrapper .line {
    stroke: steelblue;
    stroke-width: 1;
}

#stock-graph-wrapper .tooltip {
	position: absolute;
    background-color: steelblue;
    color: #ebebeb;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 100px;
	z-index: 50;
}
#stock-graph-wrapper .tooltip:hover {
	cursor: pointer;
	opacity: .95;
	transition: .3s;
}

#stock-graph-wrapper .frozen-tooltip {
    background-color: #ebebeb;
    color: steelblue;
}

#stock-graph-wrapper .tracker-line {
    stroke: steelblue;
    stroke-width: 1;
    z-index: 1;
    position: absolute;
}

#stock-graph-wrapper .tracker-ball {
	fill: purple;
	stroke: steelblue;
	pointer-events: none;
}

#stock-graph-wrapper .x-axis text,
#stock-graph-wrapper .y-axis text {
    fill: #555;
}

#stock-graph-wrapper .brush .selection {
    fill: rgba(70, 130, 180, 0.2);
}

.dark #stock-graph-wrapper {
    background-color: #1e1e1e;
    color: #ddd;
}

.dark #stock-graph-wrapper .line {
    stroke: steelblue;
}

.dark #stock-graph-wrapper .tooltip {
    background-color: #333;
    color: #ddd;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

.dark #stock-graph-wrapper .x-axis text,
.dark #stock-graph-wrapper .y-axis text {
    fill: #aaaaaa;
}

.dark #stock-graph-wrapper .brush .selection {
    fill: rgba(70, 130, 180, 0.5);
}

#stock-graph-wrapper .tracker-line,
#stock-graph-wrapper .ball {
    stroke: steelblue;
    fill: steelblue;
}

.dark #stock-graph-wrapper .tracker-line,
.dark #stock-graph-wrapper .ball {
    stroke: steelblue;
    fill: steelblue;
}






























